# 环境变量配置
NODE_ENV = production

# 服务器配置
SERVER_IS_DEMO=false # 是否为演示模式
SERVER_ALLOW_MULTI_DEVICE=true # 是否允许多设备登录

# 数据库配置
MYSQL_PORT=3306 # 映射到宿主机的端口
MYSQL_USERNAME=root # 数据库用户名
MYSQL_PASSWORD=MYSQL_PASSWORD # 数据库密码
MYSQL_DATABASE=MYSQL_DATABASE # 数据库名称

# Redis 配置
REDIS_PORT=6379 # 映射到宿主机的端口
REDIS_PASSWORD=REDIS_PASSWORD # Redis 密码

# JWT 配置
JWT_SECRET=JWT_SECRET # JWT 密钥
JWT_EXPIRES_IN=1800 # JWT 过期时间（秒）

# 邮箱配置
EMAIL_FROM=123@qq.com # 发件人邮箱地址
EMAIL_HOST=smtp.qq.com # 邮箱服务器地址
EMAIL_SECURE=true # 是否使用安全连接
EMAIL_PORT=465 # 邮箱服务器端口
EMAIL_CODE=123456 # 邮箱授权码
 
# OpenAI API 配置
OPENAI_API_KEY=sk- # OpenAI API 密钥
OPENAI_API_MODEL=deepseek-chat # OpenAI API 模型
OPENAI_API_BASE_URL=https://api.openai.com/v1 # OpenAI API 基础 URL
OPENAI_API_TEMPERATURE=0.7 # 温度参数
OPENAI_API_MAX_TOKENS=1024 # 最大令牌数
